{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Жанр: <a href="">{{ books_item.genre }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            <img src="{{ books_item.image.url }}" width="250" alt="{{ books.title }}" class="w-50">
            <div class="media-body">
                <h4 class="card-title">{{ books_item.title }}</h4>
                <h7 class="card-author">{{ books_item.author }}</h7>
                <p class="card-text">{{ books_item.content|safe|linebreaks }}</p>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        {{ books_item.created_at|date:"Y-m-d H:i" }}
    </div>
</div>
{% endblock %}